abd{
    background-color: #101022;
    background-color: #050816;
}
body{
    margin: 0;
    padding: 0;
    background-color: #050816;
    font-family: Poppins,sans-serif;
    color: white;
}
html{
    scroll-behavior: smooth;
}
.img-first-box{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.5)),url(./image/pexels-pramod-tiwari-17840843.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
    
}
.nav-bar {
    padding: 3px 120px;
    font-family: Poppins,sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0px;
}


.brand-name {
    color: white;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 22px;
    cursor: pointer;
}

.Nav-name-box {
    display: flex;
    flex-direction: row;  
}

.Nav-name {
    margin: 20px;
    color: #aaa6c3;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}
a{
    text-decoration: none;
    
}
.nav-bar::after{
    content: "";
    position: absolute;
    bottom: -5px;
    height: 1px;
    width: 100%;
    left: 0;
    background-color: white;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    transform: scaleX(0);
}
.nav-bar:hover::after{
    transform: scaleX(1);
}
.Nav-name:hover {
    transition: 0.2s;
    color: white;
    
}
.main-head{
    font-weight: 900;
    font-size: 70px;
    padding: 110px 200px;
}



.contact-us-box{
    padding: 0px 120px;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.5)),url(./image/info-img.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
    padding-top: 10px;
    padding-bottom: 70px;
}
.content-contact-us{
    text-align: center;
}
.content-contact-us-head{
    font-size: 50px;
}
.content-contact-us-text{
    font-size: 20px;
}
.contact-us-box-2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.contactInfo-box{
    margin-top: 35px;
    display: flex;
    flex-direction: row;
    padding-left: 20%;
}
.icon-contact-1{
    background-color: #100d25;
    border-radius: 50%;
    padding: 10px;
    height: 50px;
}
.text{
    display: block;
    margin-left: 15px;
}
.contactInfo{
    width: 400px;
    padding:  40px;
    font-family: Poppins,sans-serif;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.contactForm{
    width: 400px;
    background-color: #100d25;
    padding:  20px 40px;
    font-family: Poppins,sans-serif;
    border-radius: 20px;
}
.contactForm-head{
    margin-bottom: 70px;
}
.inputBox{
    font-family: Poppins,sans-serif;
}
.Harshal{
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: bold;
}
.Harshal-text{
    margin-top: 8px;
}
.inputBotext{
    font-weight: bold;
    font-size: 18px;
    font-family: Poppins,sans-serif;
}

.int{
    margin-bottom: 30px;
    font-family: Poppins,sans-serif;
    font-weight: bold;
    width:90%;
    height: 50px;
    font-size: large;
    border: none;
    background-color: #151030;
    border-radius: 8px;
    padding: 2px 20px;
    color: white;
}
.button-send{
    font-family: Poppins,sans-serif;
    width: 50%;
    background-color: #151030;
    color: white;
    font-weight: bold;
    font-size: large;
    cursor: pointer;
    padding-top: 12px;
    padding-bottom: 12px;
    border: none;
    border-radius: 8px;
    box-shadow: 1px 2px 5px 1px black;
    
}  
.button-send:hover{
    box-shadow: 1px 2px 10px 1px black;
} 