*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #080808;
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.3)),url(./image/backgroung-img.jpg);
    background-size: cover;
    background-position: center;
}
html{
    scroll-behavior: smooth;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav .fa-solid{
    display: none;
}
.brand-name {
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.4s;
}
nav ul li a:hover::after{
    width: 100%;
}
.head-text{
    margin-top: 8%;
    font-size: 30px;
}
.head-text h1{
    font-size: 80px;
    font-weight: 900;
    margin-left: 5%;
}
.head-text h1 p{
    font-size: 30px;
    font-weight: normal;
}
#about{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #b54769;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

#projects{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),#ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: bold;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}
.btn:hover{
    background: #ff004f;
}

.contact-left{
    flex-basis: 35%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: #ff004f;
}
.contact-right{
    flex-basis: 50%;
    border: 1px solid #ff004f;
    padding: 4%;
    border-radius: 10px;
}
.contact-right form{
    width: 100%;
}
.inputBotext{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: -10px;
    margin-top: 10px;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 50px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    font-weight: bold;
}
form .btn2:hover{
    background-color: #080808;
}
#msg{
    color: #61b752;
    margin-top: -40px;
    display: block;
}

@media screen and (max-width: 600px){
    #header{
        background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.3)),url(./image/backgroung-img-small.jpg);;
    }
    .head-text{
        margin-top: 20%;
        font-size: 16px;
    }
    .head-text h1{
        font-size: 30px;
    }
    .head-text h1 p{
        font-size: 20px;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
}

.contact-us-box{
    padding: 0px 120px;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.5)),url(./image/info-img.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
    padding-top: 10px;
    padding-bottom: 70px;
}
.content-contact-us{
    text-align: center;
}
.content-contact-us-head{
    font-size: 50px;
}
.content-contact-us-text{
    font-size: 20px;
}
.contact-us-box-2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}
.contactInfo-box{
    margin-top: 35px;
    display: flex;
    flex-direction: row;
    padding-left: 20%;
}
.icon-contact-1{
    background-color: #100d25;
    border-radius: 50%;
    padding: 10px;
    height: 50px;
}
.text{
    display: block;
    margin-left: 15px;
}
.contactInfo{
    width: 400px;
    padding:  40px;
    font-family: Poppins,sans-serif;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.contactForm{
    width: 400px;
    background-color: #100d25;
    padding:  20px 40px;
    font-family: Poppins,sans-serif;
    border-radius: 20px;
}
.contactForm-head{
    margin-bottom: 70px;
}
.inputBox{
    font-family: Poppins,sans-serif;
}
.Harshal{
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: bold;
}
.Harshal-text{
    margin-top: 8px;
}
.inputBotext{
    font-weight: bold;
    font-size: 18px;
    font-family: Poppins,sans-serif;
}

.int{
    margin-bottom: 30px;
    font-family: Poppins,sans-serif;
    font-weight: bold;
    width:90%;
    height: 50px;
    font-size: large;
    border: none;
    background-color: #151030;
    border-radius: 8px;
    padding: 2px 20px;
    color: white;
}
.button-send{
    font-family: Poppins,sans-serif;
    width: 50%;
    background-color: #151030;
    color: white;
    font-weight: bold;
    font-size: large;
    cursor: pointer;
    padding-top: 12px;
    padding-bottom: 12px;
    border: none;
    border-radius: 8px;
    box-shadow: 1px 2px 5px 1px black;
    
}  
.button-send:hover{
    box-shadow: 1px 2px 10px 1px black;
} 
