@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #080808;
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.3)),url(./image/backgroung-img.jpg);
    background-size: cover;
    background-position: center;
}
html{
    scroll-behavior: smooth;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav .fa-solid{
    display: none;
}
.brand-name {
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.4s;
}
nav ul li a:hover::after{
    width: 100%;
}
.head-text{
    margin-top: 8%;
    font-size: 30px;
}
.head-text h1{
    font-size: 80px;
    font-weight: 900;
    margin-left: 5%;
}
.head-text h1 p{
    font-size: 30px;
    font-weight: normal;
}
#about{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 50%;
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
    text-align: center;
}
.text-left{
    text-align: left;
}
.tab-titles{
    display: flex;
    margin: 20px 0 20px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #b54769;
    font-size: 14px;
}
.tab-contents{
    display: none;
    margin-top: -10px;
    height: 280px;
    overflow-y: scroll;
}
.tab-contents.active-tab{
    display: block;
}

#projects{
    padding: 10px 0 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),#ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: bold;
    margin-bottom: 20px;
}
.layer span{
    text-decoration: none;
}
.layer span a i{
    background: #fff;
    color: #ff004f;
    height: 60px;
    width: 60px;
    padding-top: 20px;
    margin: 20px 10px;
    text-align: center;
    border-radius: 50%;
    font-size: 18px;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}
.btn:hover{
    background: #ff004f;
}
#contact{
    padding: 10px 50px 0;
}
.contact-container{
    display: flex;
    flex-direction: column;
}
.main-contact{
    margin: 40px auto 20px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 40px;
    justify-content: space-between;
    border: 1px solid #ff004f;
    border-radius: 10px;
}
.main-contact p i{
    color: #ff004f;
    margin-right: 10px;
    font-size: 25px;
}
.main-contact p a{
    color: #fff;
    text-decoration: none;
}
.main-contact p a:hover{
    color: #ff004f;
}
.social-icons{
    margin: 0px auto;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 20px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}
#footer{
    padding: 10px 0 50px 0;
    margin-top: 50px;
}
.footer-box{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    flex-wrap: wrap;
}
.footer-box a{
    text-decoration: none;
    color: white;
    margin: 20px;
    font-size: 18px;
    transition: transform 0.5s;
}
.footer-box a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}

@media screen and (max-width: 600px){
    #header{
        background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.3)),url(./image/backgroung-img-small.jpg);;
    }
    .head-text{
        margin-top: 37%;
        font-size: 16px;
    }
    .head-text h1{
        font-size: 40px;
    }
    .head-text h1 p{
        font-size: 20px;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
        cursor: pointer;
    }
    nav ul{
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 18px;
        right: 40px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 40px;
        text-align: left;
    }
    #contact{
        padding: 0;
    }
    .main-contact{
        margin: 0;
        width: 300px;
        padding: 0;
        border: none;
    }
    .main-contact p{
        margin-top: 30px;
    }
    .social-icons{
        margin: 30px 0;
    }
    .footer-box a{
        text-align: center;
    }
}
/*
<div id="footer">
        <ul class="footer-box">
            <a href="#header">Home</a>
            <a href="#about">About</a>
            <a href="#projects">Projects</a>
            <a href="#contact">Contact</a>
        </ul>
    </div>
    */